@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url(background.jpg) no-repeat fixed center/cover;
    height: 207vh;
}

#main-header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    color: #fff;
}

#main-header h1 {
    font-size: 40px;
    font-weight: bolder;
    background: linear-gradient(#fff, 90%, #0d42ee);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#form-wrapper {
    max-width: 400px;
    margin:0 auto 20px;
}

#error-message {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #f50b0b;
    color: #fff;
    display: none;
}

#league {
    margin-bottom: 20px;
}

select,
input {
    border: 0;
    outline: 0;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 1px 3px 4px 4px rgba(8, 70, 241, 0.3); */
}

#btn {
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px;
    background-color: #2119e9;
    color: #fff;
    border-radius: 5px;
    /* box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.2); */
}

#btn:focus {
    transform: scale(.97);
}

#standings-wrapper {
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
}

#standings-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#standings-title p {
    font-size: 29px;
    font-weight: bold;
    color: #fff;
}

#standings-title p:first-child {
    margin-right: 30px;
}

table {
    border-collapse: collapse;
    box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.2);
}

tbody tr:nth-child(odd) {
    background-color: rgb(157, 158, 158);
}

tbody tr:nth-child(even) {
    background-color: rgb(213, 214, 214);
}

thead tr {
    background-color: #2119e9;
    color: #fff;
}

tr th:first-child {
    text-align: left;
}

th,
td {
    padding: 10px;
}

.team td:first-child {
    display: flex;
}

.position,
.logo {
    margin-right: 5px;
}

.logo {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

@media (max-width: 500px) {
    #main-header h1 {
        font-size: 20px;
    }

    #form-wrapper {
        margin-bottom: 50px;
    }

    #form-wrapper,
    #standings-wrapper {
        padding: 0 10px;
    }

    #standings-title p {
        font-size: 17px
    }

    .not-in-mobile {
        display: none;
    }
}